* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100%;
	height: 100vh;
	background: #ccc;
}

header {
	height: 70px;
	width: 100%;
	display: flex;
	background: #e45b5b;
	border-bottom: 2px solid red;
	justify-content: space-between;
	align-items: center;
}

ul {
	margin-left: 30px;
	width: 300px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul li {
	margin-right: 30px;
	color: white;
}

.btn {
	border: 2px solid #000;
	border-radius: 4px;
	margin-right: 30px;
	background:  #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn span {
	/*color: white;*/
	font-size: 19px;
	font-weight: 400;
	padding: 8px 20px;
	line-height: .9;
}

.auth {
	padding: 20px;
	width: 500px;
	height: 400px;
	position: fixed;
	border: 2px solid red;
	border-radius: 6px;
	background: #fff;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);

	transition-property: top;
	transition-duration: .75s;
	transition-timing-function: ease;
}

.no {
	top: -100%;
}

.close {
	float: right;
    font-size: 24px;
    color: black;
    font-weight: 900;
}


.test {
	text-align: center;
}

h1.text {
	text-align: center;
}

.mt-30 {
	margin-top: 30px;
}

.authentication {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.authentication form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.authentication form input {
	width: 80%;
	margin-top: 15px;
}

.authentication form button {
	padding: 10px 25px;
	margin-top: 15px;
}

input[type="text"] {
	padding: 5px 0 5px 5px;

}

input[type="text"]:focus {
	padding: 5px 0 5px 5px;
	outline: 0px;
	border: 2px solid red;
}

button {
	padding: 5px 0 5px 5px;
	outline: 0px;
	border: 2px solid red;
	color: white;
	background: #f44336;
}

ul.row {
	width: 50%;
	background: #eea;
}

ul.row  li {
	color: black;
}